* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #212120;
}

header {
    background-color: #212120;
    margin-bottom: auto;
    height: 50px;
}

footer {
    background-color: #212120;
    margin-top: auto;
    height: 50px;
}

main {
    width: 100%;
    background-color: #212120;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: white;
    width: 80%;
    padding: 10px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

img {
    height: 90px;
    width: 90px;
}

#container > h1 {
    font-size: larger;
    text-align: center;
}

#container > p {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

hr {
    height: 2px;
    width: 15%;
    background-color: #212120;
    border: none;
}

#question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-container > p {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

#question-container > button {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ebae4a;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    transition: 0.3s
}

#question-container > button:hover {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ebae4a;
    background-color: #ebae4a;
    color: white;
    
}

form {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form>input{
    margin-bottom: 10px;
    width: 90%;
    height: 30px;
    border: 1px solid #212120;
    background: transparent;
    border-radius: 10px;
    color: #212120;
    padding:5px;
}

form>button{
    height: auto;
    width: 90%;
    padding: 5px;
    background-color: #ebae4a;
    border: 2px solid #ebae4a;
    border-radius: 10px;
    color: #212120;
}

@media only screen and (min-width: 768px) {

    #container {
        width: 70%;
    }

    img {
        width: 200px;
        height: 200px;
        margin-top: 50px;
    }

    #question-container {
        margin-bottom: 40px;
    }

}